### General ###
*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

### React and JS ###
build/
dist/
node_modules/

.secret-*
**.sample

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/resources/static

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA and Rider ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
!**/src/main/webapp/**

### VS Code ###
.vscode/

### Spring Boot ###
env.*
application-local.properties
application-dev.properties
application-test.properties
/usr/local/var/postgresql@14
target/
**/resources/templates/src/**
**/resources/templates/types/**
bundle.js
bundle.js.map
bundle.js.LICENSE.txt
.DS_Store
.env

### .NET ###
appsettings.Local.json

### Visual Studio ###
.vs/

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn