<!DOCTYPE html>
<html>
<head>
    <title>Dashdoc Now</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-widthinitial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <style>
        @import url("https://fonts.googleapis.com/css2?family=Aldrich&family=Alegreya&family=Archivo+Black&family=Bebas+Neue&family=Belgrano&family=Bungee+Inline&family=Cabin&family=Cantora+One&family=Cedarville+Cursive&family=Comfortaa:wght@300;400&family=Comic+Neue:wght@700&family=Concert+One&family=DM+Sans&family=IBM+Plex+Sans:wght@100;200&family=Marcellus&family=Markazi+Text:wght@500&family=Monoton&family=Oxygen:wght@700&family=Press+Start+2P&family=Quattrocento+Sans&family=Questrial&family=Quicksand:wght@300;500&family=Readex+Pro:wght@200&family=Red+Hat+Display:wght@300&family=Rubik:wght@300;400&family=Ubuntu:ital,wght@1,300;1,400&family=Yuji+Syuku&display=swap");
    </style>
    <link
            rel="shortcut icon"
            type="image/jpg"
            href="coffee-icon-removebg-preview.png"
    />
    <link
            rel="stylesheet"
            href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
            crossorigin="anonymous"
    />
</head>
<body>
<div id="app"></div>
<script src="/built/bundle.js"></script>
</body>
</html>